.full-bg {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
}


/* --- CARDS --- */
.cards-container {
  width: 100%;
  max-width: 1620px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 8rem;
}