<div class="full-bg">
    @if(loading) {

        <app-ai-loader></app-ai-loader>

    }
    @else {

        <div class="border">
    
            <div class="input">
                Eingabe
                <div class="text-component">
                    <textarea
                        class="chat-input"
                        placeholder="Kopiere deinen Text hier..."
                        rows="1"
                        [(ngModel)]="message"
                    ></textarea>
                </div>
            </div>



            <div class="output">
                Ausgabe
                <div class="text-component">

                    <div class="allSelections">
                        <div class="sub_selection_comp">
                            <div class="sel_text">
                                Vereinfacht:
                            </div>

                            <div class="sel-btn" (click)="$event.stopPropagation()">
                                <button (click)="toggle(0)">
                                    {{ selectedLabel[0] }}

                                    <div class="sel-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </div>
                                </button>

                                @if(open[0]) {
                                    <ul>
                                        <li (click)="select(0, 'light')">Leicht</li>
                                        <li (click)="select(0, 'average')">Mittel</li>
                                        <li (click)="select(0, 'heavy')">Stark</li>
                                    </ul>
                                }
                            </div>
                        </div>


                        <div class="sub_selection_comp">
                            <div class="sel_text">
                                Stichpunkte:
                            </div>

                            <div class="sel-btn" (click)="$event.stopPropagation()">
                                <button (click)="toggle(1)">
                                    {{ selectedLabel[1] }}

                                    <div class="sel-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </div>
                                </button>

                                @if(open[1]) {
                                    <ul>
                                        <li (click)="select(1, 'on')">An</li>
                                        <li (click)="select(1, 'off')">Aus</li>
                                    </ul>
                                }
                            </div>
                        </div>


                        <div class="sub_selection_comp">
                            <div class="sel_text">
                                Sprache:
                            </div>

                            <div class="sel-btn" (click)="$event.stopPropagation()">
                                <button (click)="toggle(2)">
                                    {{ selectedLabel[2] }}

                                    <div class="sel-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                        </svg>
                                    </div>
                                </button>

                                @if(open[2]) {
                                    <ul>
                                        <li (click)="select(2, 'Erkennen')">Erkennen</li>
                                        <li (click)="select(2, 'Deutsch')">Deutsch</li>
                                        <li (click)="select(2, 'Englisch')">Englisch</li>
                                        <li (click)="select(2, 'Französisch')">Französisch</li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="ai_btnGroup">
                        <button (click)="send()" class="ai-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="white" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                            </svg>
                        </button>
                    </div>


                </div>
            </div>

        </div>

    }
</div>
