.hero {
  width: 100%;
  min-height: 60rem;
  /*height: 100dvh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
  position: relative;
  background-color: var(--background-color);
}

.logo {
  font-family: var(--logo-font);
  font-size: 16rem;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 0;
  margin-top: 80px;
}

.mic {
  width: 250px;
  object-fit: contain;
  margin-top: -100px;
  margin-bottom: -180px;
}

.buttons {
  display: flex;
  gap: 30rem;
  margin-top: 2rem;
  background: none;
}

.btn-outline,
.btn-primary {
  width: 16rem;
  padding: 0.9rem 2rem;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  border: 2px solid #8200D2;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.05s linear;
}
.btn-outline:hover,
.btn-primary:hover {
  transform: scale(1.02);
}



.btn-outline {
  background: transparent;
  color: var(--primary-text-color);
  background-color: #8200d242;
}

.btn-outline:hover {
  background: #8200D2;
}

.btn-primary {
  background: #8200D2;
  color: white;
  border: 1.5px solid black;
}

.btn-primary:hover {
  background: #a144fa;
}

