
.nav-background {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
}

.navbar {
    border-bottom: 2px solid var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1620px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 8px;
    text-decoration: none;
}
.logo i {
    font-size: 2.6em;
    margin-right: 8px;
    color: var(--primary-text-color);
}
.logo p {
    font-size: 2.2em;
    font-family: "Parisienne";
    font-weight: 550;
}

.controls {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 8px;
}

.light-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border-radius: 32px;
    padding: 4px 12px;
    height: 32px;
    width: 54px;
    background-color: #93c9ef2f;
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
}
.ph {
    background-color: transparent;
    z-index: 1;
    color: black;
}
.circle {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    top: 3.5px;
    left: 4px;
    transition: all 0.4s ease;
    border: 1px solid black;
}

.light-switch.dark .circle {
  transform: translateX(36px);
}

.light-switch .ph-moon-stars {
  color: black;
}
.light-switch.dark .ph-sun {
  color: white;
}




.btn {
    display: flex;
    align-items: center;
    border-radius: 32px;
    padding: 4px 24px;
    height: 32px;
    cursor: pointer;
}
.signIn-btn {
    border: 2px solid var(--primary-btn-color);
    background-color: #8200d242;
}
.signUp-btn {
    background-color: var(--primary-btn-color);
    color: white;
}




