<div class="landing-wrapper">
  <div class="cards-container">
    <div class="card">
      <h1>Sprache vereinfachen</h1>
      <p>
        unsere KI übersetzt ihren Text automatisch in vereinfachte Sprache.
        Kopieren sie den komplexen Text und erhalten sie eine vereinfachte Ausgabe
      </p>
      <button class="cta yellow" (click)="goToAi()">Zu unserer KI →</button>
    </div>

    <div class="card">
      <h1>Aussprache lernen</h1>
      <p>
        nimm dich beim Sprechen auf und lasse dir automatisch, durch die Hilfe
        von künstlicher Intelligenz, deine Fehler korrigieren
      </p>
      <button class="cta yellow" (click)="record()">Sprache aufnehmen →</button>
    </div>
  </div>
</div>
