.full-bg {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
}



.letter {
  font-size: 156px;
  font-weight: bold;
  background: linear-gradient(175deg, #6800a9 0%, #d900ff 100%);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  position: absolute;
}
.La {
  left: calc(50% - 120px);
  top: 480px;
  rotate: 20deg;
}
.Lw {
  font-size: 200px;
  left: calc(50% - 690px);
  top: 200px;
  rotate: -35deg;
}
.Lt {
  left: calc(50% - 620px);
  top: 700px;
  rotate: 2deg;
}
.Lb {
  left: calc(50% - 200px);
  top: 20px;
  rotate: -8deg;
}
.Lx {
  font-size: 236px;
  left: calc(50% - 260px);
  top: 900px;
  rotate: 148deg;
}
.Ld {
  left: calc(50% - 960px);
  top: 460px;
  rotate: 60deg;
}









.cards-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
}


/* --- CARDS --- */
.cards-container {
  width: 100%;
  max-width: 1620px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 8rem;
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 521px;
  height: 655px;
  border-radius: 25px;
  z-index: 1;
  overflow: hidden;

  position: relative;
  border: 1px solid white;
  background: linear-gradient(
    166deg,
    rgba(255, 255, 255, 0.20) 0%,
    rgba(153, 153, 153, 0.2) 100%
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.card h1 {
  margin-top: 2rem;
  font-size: 64px;
  font-weight: 800;
  background: none;
  z-index: 1;
}

.card p {
  background: none;
  font-size: 24px;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 8rem;
  z-index: 1;
}

/* --- CTA Button --- */
.cta {
  width: calc(100% - 4rem);
  padding: 1rem;
  border-radius: 35px;
  font-weight: 600;
  cursor: pointer;
  font-size: 28px;
  border: none;
  z-index: 1;
  margin: 0 2rem 2rem 2rem;
}

.yellow {
  background: #ffd000;
  color: #000;
}


.noise {
  position: absolute;
  background: none;
}


