.full-bg {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



.letter {
  font-size: 156px;
  font-weight: bold;
  background: linear-gradient(175deg, #6800a9 0%, #d900ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1;
  position: absolute;
}
.La {
  left: calc(50% - 120px);
  top: 480px;
  rotate: 20deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.Lw {
  font-size: 200px;
  left: calc(50% - 690px);
  top: 200px;
  rotate: -35deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.Lt {
  left: calc(50% - 620px);
  top: 700px;
  rotate: 2deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.Lb {
  left: calc(50% - 200px);
  top: 20px;
  rotate: -8deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.Lx {
  font-size: 236px;
  left: calc(50% - 260px);
  top: 900px;
  rotate: 148deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.Ld {
  left: calc(50% - 960px);
  top: 460px;
  rotate: 60deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.Lm {
  left: calc(50% - 1160px);
  top: 160px;
  rotate: 130deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.Lg {
  left: calc(50% - 1160px);
  top: 840px;
  rotate: 20deg;
  animation: Lhover 2.5s infinite ease-in-out;
}




.circle {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background: linear-gradient(175deg, #6800a9 0%, #d900ff 100%);
  z-index: 1;
  position: absolute;
}
.S1 {
  width: 120px;
  height: 120px;
  left: calc(50% + 120px);
  top: 480px;
  rotate: 20deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.S2 {
  font-size: 200px;
  left: calc(50% + 690px);
  top: 200px;
  rotate: -35deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.S3 {
  width: 180px;
  height: 180px;
  left: calc(50% + 520px);
  top: 660px;
  rotate: 2deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.S4 {
  width: 140px;
  height: 140px;
  left: calc(50% + 200px);
  top: 60px;
  rotate: -8deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.S5 {
  font-size: 236px;
  left: calc(50% + 260px);
  top: 900px;
  rotate: 148deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.S6 {
  width: 95px;
  height: 95px;
  left: calc(50% + 960px);
  top: 460px;
  rotate: 60deg;
  animation: Lhover 3.5s infinite ease-in-out;
}
.S7 {
  width: 120px;
  height: 120px;
  left: calc(50% + 1160px);
  top: 160px;
  rotate: 130deg;
  animation: Lhover 2.5s infinite ease-in-out;
}
.S8 {
  width: 110px;
  height: 110px;
  left: calc(50% + 1160px);
  top: 840px;
  rotate: 20deg;
  animation: Lhover 2.5s infinite ease-in-out;
}

@keyframes Lhover {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}







.cards-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
}


/* --- CARDS --- */
.cards-container {
  width: 100%;
  max-width: 1620px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 8rem;
}



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 521px;
  height: 655px;
  border-radius: 25px;
  z-index: 1;
  overflow: hidden;

  position: relative;
  border: 1.5px solid var(--primary-text-color);
  background: linear-gradient(
    166deg,
    rgba(255, 255, 255, 0.20) 0%,
    rgba(153, 153, 153, 0.2) 100%
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.card h1 {
  margin-top: 2rem;
  font-size: 64px;
  font-weight: 800;
  background: none;
  z-index: 1;
}

.card p {
  background: none;
  font-size: 24px;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 8rem;
  z-index: 1;
}

/* --- CTA Button --- */
.cta {
  width: calc(100% - 4rem);
  padding: 1rem;
  border-radius: 35px;
  font-weight: 600;
  cursor: pointer;
  font-size: 28px;
  border: none;
  z-index: 1;
  margin: 0 2rem 2rem 2rem;
}

.yellow {
  background: #ffd000;
  color: #000;
  border: 1.5px solid black;
  transition: all 0.05s linear;
}
.yellow:hover {
  background: #dab200;
  transform: translateY(-2px);
}


.noise {
  position: absolute;
  background: none;
  opacity: 0.7;
}


