.full-bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.border {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1620px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.input, .output {
    width: 49%;
    height: 75%;
    margin: 12px;
    margin-top: 6px;
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 1rem;
    line-height: 1.1em;
}


.text-component {
    margin-top: 1rem;
    width: calc(100% - 52px);
    padding: 24px;
    height: 100%;
    background-color: var(--secondary-bg-color);
    border: 3px solid #3A3A3A;
    border-radius: 20px;
    font-weight: 400;
}





